CONFIG_TOOLCHAIN_GCC_VERSION:=4.9

CONFIG_LINARO_VERSION:=14.11

CONFIG_LIBC_MUSL_VERSION:=1.0.2
CONFIG_LIBC_GLIBC_VERSION:=2.13
CONFIG_LIBC_EGLIBC_VERSION:=2.19
CONFIG_LIBC_UCLIBC_VERSION:=0.9.33
CONFIG_LIBC_NEWLIB_VERSION:=2.1.0
CONFIG_LIBC_DIETLIBC_VERSION:=0.33

CONFIG_DISK_EXT2PROGS_VERSION:=1.42.7

CONFIG_FW_NCURSES_VERSION:=5.9
CONFIG_FW_SDL_VERSION:=2.0.3

CONFIG_FW_ZLIB_VERSION:=1.2.8
CONFIG_FW_BZIP2_VERSION:=1.0.6

CONFIG_FW_PCRE_VERSION:=8.35

CONFIG_FW_VIDEO_XVID_VERSION:=1.3.3
CONFIG_FW_VIDEO_X264_VERSION:=snapshot-20140414-2245-stable
CONFIG_FW_AUDIO_AACPLUS_VERSION:=2.0.2
CONFIG_FW_VIDEO_FFMPEG_VERSION:=2.1.1

CONFIG_FW_IPC_LIBEVENT_VERSION:=2.0.21-stable

CONFIG_MM_LAME_VERSION:=3.99.5
CONFIG_MM_MPG123_VERSION:=1.20.1

CONFIG_DB_SQLITE_VERSION:=autoconf-3080500
CONFIG_DB_GDBM_VERSION:=1.11

CONFIG_SECURITY_OPENSSL_VERSION:=1.0.1h
CONFIG_SECURITY_OPENSSH_VERSION:=6.6p1

CONFIG_SERVER_CUPS_VERSION:=1.7.0
CONFIG_SERVER_LIBTIRPC_VERSION:=0.2.4
CONFIG_SERVER_RPCBIND_VESION:=0.2.1
CONFIG_SERVER_PROFTP_VERSION:=1.3.4d
CONFIG_SERVER_TCPW_VESION:=7.6
CONFIG_SERVER_NFSIDMAP_VERSION:=0.25
CONFIG_SERVER_NFSUTILS_VESION:=1.3.0
CONFIG_SERVER_CIFSUTILS_VERSION:=6.3
CONFIG_SERVER_SAMBA_VERSION:=3.6.23
CONFIG_SERVER_LIBUPNP_VESION:=1.6.19
#CONFIG_SERVER_LIBUPNP_VESION:=git
CONFIG_SERVER_LIBDLNA_VERSION:=0.2.4
CONFIG_SERVER_USHARE_VERSION:=1.1a
CONFIG_SERVER_MEDIATOMB_VERSION:=0.12.1
CONFIG_SERVER_GUPNP_VERSION:=0.20.9
CONFIG_SERVER_GUPNP_DLNA_VERSION:=0.10.2
CONFIG_SERVER_LIGHTTPD_VERSION:=1.4.35
