CONFIG_LIBC_MUSL_VERSION:=1.1.0
CONFIG_LIBC_GLIBC_VERSION:=2.17
CONFIG_LIBC_EGLIBC_VERSION:=2.19
CONFIG_LIBC_UCLIBC_VERSION:=0.9.33
CONFIG_LIBC_NEWLIB_VERSION:=2.1.0
CONFIG_LIBC_DIETLIBC_VERSION:=0.33

CONFIG_DISK_EXT2PROGS_VERSION:=1.42.7

CONFIG_FW_NCURSES_VERSION:=5.9
CONFIG_FW_SDL_VERSION:=2.0.3

CONFIG_FW_ZLIB_VERSION:=1.2.8

CONFIG_FW_VIDEO_XVID_VERSION:=1.3.3
CONFIG_FW_VIDEO_X264_VERSION:=snapshot-20140414-2245-stable
CONFIG_FW_AUDIO_AACPLUS_VERSION:=2.0.2
CONFIG_FW_VIDEO_FFMPEG_VERSION:=2.1.1

CONFIG_FW_IPC_LIBEVENT_VERSION:=2.0.21-stable

CONFIG_SERVER_CUPS_VERSION:=1.7.0
CONFIG_SERVER_LIBTIRPC_VERSION:=0.2.4
CONFIG_SERVER_RPCBIND_VESION:=0.2.1
CONFIG_SERVER_PROFTP_VERSION:=1.3.4d
CONFIG_SERVER_TCPW_VESION:=7.6
CONFIG_SERVER_NFSIDMAP_VERSION:=0.25
CONFIG_SERVER_NFSUTILS_VESION:=1.3.0
CONFIG_SERVER_CIFSUTILS_VERSION:=6.3
CONFIG_SERVER_SAMBA_VERSION:=3.6.23
CONFIG_SERVER_LIBUPNP_VESION:=1.6.19
#CONFIG_SERVER_LIBUPNP_VESION:=git
CONFIG_SERVER_LIBDLNA_VERSION:=0.2.4
CONFIG_SERVER_USHARE_VERSION:=1.1a
CONFIG_SERVER_MEDIATOMB_VERSION:=0.12.1
CONFIG_SERVER_GUPNP_VERSION:=0.20.9
CONFIG_SERVER_GUPNP_DLNA_VERSION:=0.10.2
